<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Sistema de Biblioteca</title>
</head>
<body>
    <header>
        <h1>Biblioteca - P1</h1>
        <nav>
            <a href="{% url 'lista_livros' %}">Acervo</a> | 
            <a href="{% url 'novo_livro' %}">Cadastrar Livro</a> | 
            <a href="{% url 'novo_emprestimo' %}">Novo Empréstimo</a> | 
            <a href="{% url 'nova_reserva' %}">Nova Reserva</a>
        </nav>
        <hr>
    </header>
    <main>
        {% block conteudo %}{% endblock %}
    </main>
</body>
</html>